.content{
    width: 100%;
    display:flex;
    
    
}

.rowTableTop{
    display:flex;
}

.column{
    flex-direction: column;
}

.body{
    background: var(--bg-primary);
    height: 100%
}

#iconUpdate{
    margin-right: 3rem;
}
