.backgroundStyle{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(0,0,0,0.7);
    zIndex: 1000;
}

.modalAdd {
    width: 100%;
    font-size: 1.5rem;
    font-weight: 700;
    color: #6B6B6B;


    display:flex;
    flex-direction:column;

    width: 75rem;
    height: 37rem;
    position:fixed;

    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
   

    background: var(--bg-light);
    border-radius: 1.5rem;
}

.modalContent{
    padding:2rem 7.5rem 15rem 7.5rem;
}

.closeButton{
    display: flex;
    justify-content: right;
    margin: 2rem;

    
    
}

.closeButton button{
    font-size: 2.5rem;
    cursor: pointer;
}

.labelDown{
    margin-top: 5rem;
}

input{
    padding: 1rem;
    width: 100%;
}

.addButton{
    margin: 4rem 15rem 0 20rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--bg-light);

    border-radius: 1.5rem;

    padding: 2rem;
    background: var(--gold);
    width: 30%;
}

.removeProduct{
    display:flex;
    flex-direction:column;
    margin: 4rem 13rem 0 12rem;

    font-size: 2rem;

    
}

.confirmButtons{
    margin-top: 5rem;

    font-size: 2rem;
}

.confirmButtons button{
    font-size: 1.5rem;
    font-weight: 700;
}

.confirmButton{
    color:green;
}

.cancelButton{
    color: red;
    margin-left:20rem;
}