
.contentStock{
    background: var(--bg-light);
    height: 60%;
    margin: 2rem; 
    padding-top: 1px;
    
}
.wrapper{
   
}

.iconSearch{
    color: #B3B1B1;
   font-size: 2rem;
    padding: 4px;
    position:absolute;
    box-sizing: border-box;
    top: 50%;
    left: 14.5rem;
    transform: translateY(-50%);
}

.input {
    height: 5rem;
    box-sizing:border-box;
    //padding-left: 1.5rem
}

.plusButton{
    cursor: pointer;
    display: flex;
    width: 7.5rem;
    height: 6rem;
    
    background: rgb(179, 177, 177);
    
    
    border-radius: 1.5rem;
    align-items: center;
    justify-content: center
}

.plusButton:hover{
    background: #9B9999;
    transition: 500ms linear; 
}

.filterButton{
    margin-left: 2rem; 
    font-weight: 700;
    color: #B3B1B1;
    font-size: 1.8rem;
    width: 12rem;
    height: 6rem;

    background: var(--bg-light);
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    border-radius: 1.5rem
}

table{
    padding-left:5.5rem;
    width: 98%;
    box-shadow: 0 1rem 2rem -1rem rgba(0, 0, 0, 0.3);
}

table *{
    font-size: 2rem;
    color: #6B6B6B
}

table tr{
    height: 10rem;
}

table tr:nth-child(even){
    background: #F2F3F3
}

table tr:nth-child(odd){
    background: var(--bg-light);
}

.iconPlus{
    font-size: 3rem;
    color: var(--ff-color)
}

.search{
    font-size: 1.8rem;
    background: var(--bg-light);

    width: 18rem;
    height: 6.2rem;

    border-radius: 1.5rem;
    border: 1px solid rgba(0, 0 , 0, 0.2)
}

.search::placeholder{
    color: #B3B1B1;
    padding-left: 2rem;
    font-size: 1.8rem;
    font-weight: 700;
    margin: 2rem 8rem 2rem 3 rem
}

.commands{
    display:flex;
    justify-content:space-between;


    margin: 2.5rem  4rem 1.5rem 8rem;
}

thead, tbody{
    padding-left: 3.5rem;
}

th{
    text-align:left;
}


.labelDown{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}

.labelId{
    display: flex;
    flex-direction: column;
}





