*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Mulish', sans-serif;
}

:root{
  --bg-primary: rgb(247, 249, 248);
  --bg-secondary: rgb(242, 243, 243);
  --bg-light: rgb(253, 255,254);
  --gold: rgb(179, 156, 100);
  --ff-color: rgb(107, 107, 107);
 --ff-placeholder: rgba(179, 177, 177, 1)
  font-size: 62.5%
}

button{
  background:none;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
}

input{ 
  outline: none;
}


